{% assign research-interests = site.data.data.research-interests %}
{% if research-interests %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-search fa-stack-1x fa-inverse"></i>
    </span>
    {{ research-interests.title }}
  </h2>
  
  
  {% for interest in research-interests.interests %}
  <div class="item">
    <li class="interest">{{ interest.title }}</li>
    <ul class="dashed">
      <li class="interest-application"><b>Application:</b> {{ interest.application }}</li>
    </ul>
    
  </div><!--//item-->
  {% endfor %}
    
</section><!--//section-->
{% endif %}
