{% assign research-interests = site.data.data.research-interests %}
{% if research-interests %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-search fa-stack-1x fa-inverse"></i>
    </span>
    {{ research-interests.title }}
  </h2>
  
  
  
<!--   {% if publications.conferences %}
  <div>
    <font size=1.5><strong> {{ publications.conferences | markdownify }} </strong></font>
  </div><!--//conferences-->
  {% endif %} -->

  {% for interest in research_interests.interests %}
  <div class="item">
    <li>{{ interest.title }}</li>
    <div>{{ interest.summary }}</div>
  </div><!--//item-->
  {% endfor %}

<!-- 
  <div class="summary">
    {{ research-interests.summary | markdownify }}
  </div><!--//summary--> -->
    
</section><!--//section-->
{% endif %}
